<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% if env.mode == "production" %}
        <script type="module" src="/assets/js/main-[hash].js"></script>
    {% else %}
        <script type="module" src="/src/scripts/main.jsx"></script>
    {% endif %}
</head>
<body>
    <main>
        {{ content | safe }}
    </main>
</body>
</html>