---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "One-Off",
    price: "$999",
    popular: false,
    features: [
      "2-3 Days Turnaround",
      "Design or Development",
      "1 Revision Included",
      "Responsive Design",
      "Optimized for Conversions",
      "Content Integration",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Design",
    price: "$1499/m",
    popular: true,
    features: [
      "Custom Designs in Figma",
      "1 Request at a Time",
      "Unlimited Feedback",
      "Conversion-Optimized Designs",
      "Branding Support",
      "Fast Delivery (2-3 Days)",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Design + Dev",
    price: "$1999/m",
    popular: false,
    features: [
      "Astro & Tailwind Code",
      "Complete Full-Stack Development",
      "SEO & Performance Optimized",
      "Continuous Maintenance & Updates",
      "Dedicated Developer",
      "Priority Support",
      "Post-Launch Monitoring",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">Simple & Predictable pricing. No Surprises.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
