---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 bg-slate-100 px-10 place-items-center pt-16 pb-16 rounded-sm mb-16 md:pt-12 md:pb-16"
>
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Developer working on code"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      Expert Design & Development Subscriptions
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Ship faster with top-tier design and development services on a fixed monthly plan with
      unlimited requests.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        rel="noopener"
        href="/contact"
        class="flex gap-1 items-center bg-slate-800 justify-center border px-4 py-2 rounded"
      >
        <Icon class="w-5 h-5" name="bx:bxs-envelope" />
        &nbsp;Contact Us
      </Link>
    </div>
  </div>
</main>
