---
import Container from "@components/container.astro";
---

<div class="py-16 sm:py-24">
  <Container>
    <div class="max-w-5xl mx-auto text-center">
      <h2 class="text-4xl text-center lg:text-5xl font-bold lg:tracking-tight">
        How it Works
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Once you join, you and your crew get an invite to our Breeew kanban
        board, where you can team up with us in real-time. From here, you can
        chat directly with us, shooting over as many design requests as you
        fancy. I'll tackle each request step by step, and feel free to ask for
        as many tweaks as you need.
      </p>
    </div>
  </Container>
</div>
