---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24 mb-10">
  <h2 class="text-4xl text-center lg:text-5xl font-bold lg:tracking-tight">
    Our Stack
  </h2>
  <p class="text-lg text-center mt-2 text-slate-600">
    Here are some of our choice tools and weapons.
  </p>  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-10 text-blue-500" name="simple-icons:react" />
    <Icon class="size-8 md:size-10 text-green-500" name="simple-icons:vuedotjs" />
    <Icon class="size-8 md:size-10 text-black" name="simple-icons:nextdotjs" />
    <Icon class="size-8 md:size-10 text-blue-600" name="simple-icons:typescript" />
    <Icon class="size-8 md:size-10 text-yellow-500" name="simple-icons:python" />
    <Icon class="size-8 md:size-10 text-red-500" name="simple-icons:git" />
    <Icon class="size-8 md:size-10 text-green-500" name="simple-icons:mongodb" />
    <Icon class="size-8 md:size-10 text-cyan-400" name="simple-icons:tailwindcss" />
    <Icon class="size-8 md:size-10 text-green-600" name="simple-icons:pandas" />
  </div>
</div>

